header {
  height: 80px;
  background-color: blue;
}
nav ul {
  display: flex;
  justify-content: flex-end;


}
nav ul li{
  text-decoration: none;
  margin: 5px;
  list-style: none;
}
body {
  background-color: grey;
}
Buttoncon {
  background-color: brown;
}
form input{
align-content: center;
justify-content: center;
margin-bottom: 0vh;
}
#hero-img{
  width: auto;
  height: auto;
}